# Node modules
/node_modules

# SvelteKit build output
/.svelte-kit
/dist

# Vite cache
/.vite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env
.env.local
.env.*.local

# Firebase configuration
.firebase/

# IDE and Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Optional: Coverage reports
/coverage

# Optional: Temporary files
/tmp
/temp

# GitHub Actions
/.github/workflows/

# Miscellaneous
.sass-cache
.cache
*.pem
*.lock-wscript
